<!DOCTYPE html>
<html>
<head>
<style>
#div1 {
  position: absolute;
  left: 50px;
  width: calc(100% - 100px);
  border: 1px solid black;
  background-color: yellow;
  padding: 5px;
}
</style>
</head>
<body>

<h2>Nguyễn Thị Khánh Ly</h2>
<p>2021050424</p>

<div id="div1">Some text...</div>

</body>
</html>


